@font-face {
  font-family: 'Gordita';
  src: local('Gordita Medium'), local('Gordita-Medium'),
    url('../fonts/Gordita-Medium.woff2') format('woff2'),
    url('../fonts/Gordita-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: local('Gordita Bold'), local('Gordita-Bold'),
    url('../fonts/Gordita-Bold.woff2') format('woff2'),
    url('../fonts/Gordita-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: local('Gordita Regular'), local('Gordita-Regular'),
    url('../fonts/Gordita-Regular.woff2') format('woff2'),
    url('../fonts/Gordita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: local('Gordita Thin'), local('Gordita-Thin'),
    /* url('../fonts/Gordita-Regular.woff2') format('woff2'), */
    url('../fonts/Gordita-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
