:root {
  /* z-indexes */

  /*--zi-feedback: 1100;
  --zi-modal: 1000;

  --zi-notify: 200;
  --zi-popover-content: 200;

  --zi-dropdown: 100;
  --zi-side: 101;*/
  --zi-topb: 100;

  --zi-privacy-contest: 95;

  /*--zi-form-stick: 75;*/
  --zi-ctx-menu: 51;
  /*--zi-dropdown-li: 51;

  --zi-dropdown-back: 50;*/
  --zi-popover-back: 50;

  /*--zi-table-th: 5;*/

  --zi-higher: 20;

  --zi-upper: 5;
}
