<!doctype html>
<html lang="en">
  <head>
    <base href="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1; user-scalable=no">
    <title>Google Data Studio | Vlad Pavlov</title>
    <meta name="description" content="This is a post on My Blog about agile frameworks.">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/zIndex.css">
    <link rel="stylesheet" href="/css/vars.css">
    
    <link rel="stylesheet" href="/css/index.css">
    

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="Vlad Pavlov">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="Vlad Pavlov">
    <link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
    <script>
      function $ (s) { return (this === window ? document : this).querySelector(s) }
function $$ (s) { return [...(this === window ? document : this).querySelectorAll(s)] }
function createEl (tag, props, children) {
  const $el = document.createElement(tag);
  if (props)
    Object.entries(props).forEach(([name, val]) => {
      if (name === 'style')
        return Object.assign($el.style, val);
      $el[name] = val;
    });
  if (children)
    children.forEach($child => $el.append($child));
  return $el;
}
function getScriptParent () { return document.currentScript.parentElement }
    </script>
  </head>
  <body class="Root">
    <style>
.Routelink.--active { border-bottom: 1px solid var(--black) }
</style>


    <div class="d-flex --center l-mw-cont Topbar bg-blur">
  <style>@import url(/css/Topbar.css)</style>

  <nav class="d-flex --middle l-mw">
    <h1 style="filter: url(&quot;#displace&quot;)">
      <a href="/objects">
        
        ISh-
      </a>
    </h1>
    
    <div class="d-flex__space"></div>

    <div class="Topbar__routes d-flex">
      

<a class="Routelink --active" href="/objects">
  Objects</a>

      

<a class="Routelink " href="/about">
  About</a>

      
      
    </div>
  </nav>


</div>

    <main>
      <div class="l-content --pad Post">
        <div class="l-content__paper">
          <style>@import url(/css/Post.css)</style>
<h1 class="__title">
  Google Data Studio
  <time datetime="2022-06-03">03 Jun 2022</time>
</h1>
<div class="Post__tags">
  
    
    <a href="/objects/tags/music/" class="PostsItem__tag">music</a>
  
</div>


<div class="Post__content">
  <h2 id="google-data-studio" tabindex="-1">Google Data Studio <a class="direct-link" href="#google-data-studio" aria-hidden="true">#</a></h2>
<iframe class="Post__yt" title="vimeo-player" src="https://player.vimeo.com/video/195829514?h=b88d16d4e3&autoplay=1&byline=0" width="640" height="360" frameborder="0"    allowfullscreen></iframe>
<p>Today we will talk about other tools that are available via Google Marketing Platform, the capabilities of which are available to our clients. Let’s look at Google Data Studio, an online tool for transforming data into customizable, informative reports and dashboards.</p>
<p><img src="ccp_case_2.png" alt="exmaple"></p>
<p>GDS saves marketers time by collecting data from Google Analytics tables and other sources into a single report. With Data Studio you can</p>
<ul>
<li>customize the display and style of elements</li>
<li>work with both desktop and mobile browsers</li>
<li>make multi-page reports</li>
<li>configure filters</li>
<li>store reports in the cloud</li>
<li>view the history of changes in reports for different periods.</li>
</ul>
<blockquote>
<p>The secret to creativity is knowing how to hide your sources.
<cite>Albert Einstein</cite></p>
</blockquote>
<h2 id="google-data-studio-1" tabindex="-1">Google Data Studio <a class="direct-link" href="#google-data-studio-1" aria-hidden="true">#</a></h2>
<div class="PostSlider t-miniscroll --x">
  <img src="ccp_case_2.png"/>
  <img src="ccp_case_2.png"/>
  <img src="ccp_case_2.png"/>
</div>
<p>Today we will talk about other tools that are available via Google Marketing Platform, the capabilities of which are available to our clients. Let’s look at Google Data Studio, an online tool for transforming data into customizable, informative reports and dashboards.</p>
<p>Today we will talk about other tools that are available via Google Marketing Platform, the capabilities of which are available to our clients. Let’s look at Google Data Studio, an online tool for transforming data into customizable, informative reports and dashboards.</p>
<h2 id="google-data-studio-2" tabindex="-1">Google Data Studio <a class="direct-link" href="#google-data-studio-2" aria-hidden="true">#</a></h2>
<p>Today we will talk about other tools that are available via Google Marketing Platform, the capabilities of which are available to our clients. Let’s look at Google Data Studio, an online tool for transforming data into customizable, informative reports and dashboards.</p>
<h3 id="google-data-studio-3" tabindex="-1">Google Data Studio <a class="direct-link" href="#google-data-studio-3" aria-hidden="true">#</a></h3>
<p>Today we will talk about other tools that are available via Google Marketing Platform, the capabilities of which are available to our clients. Let’s look at Google Data Studio, an online tool for transforming data into customizable, informative reports and dashboards.</p>

</div>

<script>
$$('.PostSlider').forEach($slider => {
  let currentImg = 0;

  const $imgs = [...$slider.children];
  const $cont = createEl('div', { className: 'PostSlider__cont' });
  $slider.append($cont);
  $imgs.forEach($img => {
    $cont.append($img);

    if ($img.tagName === 'iframe')
      $img.width = $slider.offsetWidth;
      $img.height = $slider.offsetHeight;
  });

  const $lArrow = createEl('div', { className: 'PostSlider__arrow' });
  const $rArrow = createEl('div', { className: 'PostSlider__arrow --right' });
  $rArrow.addEventListener('click', e => process(++currentImg))
  $lArrow.addEventListener('click', e => process(--currentImg))
  $slider.append($lArrow);
  $slider.append($rArrow);

  process(currentImg);

  function process (currentImg) {
    $lArrow.classList.toggle('--visible', currentImg > 0);
    $rArrow.classList.toggle('--visible', currentImg < $imgs.length - 1);
    $imgs[0].style.marginLeft = `-${ currentImg * 100 }%`;
  }
});

ytsOnResize();
window.addEventListener('resize', ytsOnResize);
function ytsOnResize ($yt) {
  $$('.Post__yt').forEach($yt => {
    $yt.style.height = $yt.offsetWidth * ($yt.getAttribute('ratio') || .56) + 'px';
  });
}

$$('.Post__gal img').forEach($img => {
  $img.addEventListener('click', e => window.open($img.src, '_blank'));
});

</script>



        </div>
      </div>
    </main>

    <style>@import url(/css/Footer.css)</style>
<div class="Footer">
   
</div>

    <!-- Current page: /objects/template/ -->
  </body>
</html>
